{% extends 'base.html' %}
{% block title %}Реєстрація{% endblock %}

{% block content %}
<div class="row justify-content-center" style="margin-top:4rem;">
<div class="col-md-4">
    <div class="text-center mb-4">
        <!--<h2 style="font-family:'Cinzel',serif; color:var(--gold); font-size:1.6rem; letter-spacing:.1em;">
            Назва
        </h2>-->
        <p class="text-dim" style="font-size:.78rem;">Почни свою пригоду</p>
    </div>

    <div class="sq-card">
        <div class="p-4">
            <form method="post" action="{% url 'register' %}" class="d-flex flex-column gap-3">
                {% csrf_token %}
                <div>
                    <label class="form-label">Ім'я користувача</label>
                    <input type="text" name="username" class="form-control {% if form.username.errors %}is-invalid{% endif %}"
                           placeholder="username" required autofocus>
                    {% for error in form.username.errors %}
                    <div style="color:var(--rose); font-size:.72rem; margin-top:.2rem;">{{ error }}</div>
                    {% endfor %}
                </div>
                <div>
                    <label class="form-label">Пароль</label>
                    <input type="password" name="password1" class="form-control {% if form.password1.errors %}is-invalid{% endif %}"
                           placeholder="Мінімум 8 символів" required>
                    {% for error in form.password1.errors %}
                    <div style="color:var(--rose); font-size:.72rem; margin-top:.2rem;">{{ error }}</div>
                    {% endfor %}
                </div>
                <div>
                    <label class="form-label">Підтвердження пароля</label>
                    <input type="password" name="password2" class="form-control {% if form.password2.errors %}is-invalid{% endif %}"
                           placeholder="Повтори пароль" required>
                    {% for error in form.password2.errors %}
                    <div style="color:var(--rose); font-size:.72rem; margin-top:.2rem;">{{ error }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn-sq-gold" style="width:100%; padding:.6rem; margin-top:.5rem;">
                    Почати
                </button>
            </form>

            <div class="text-center mt-3" style="font-size:.75rem; color:var(--text-dim);">
                Вже є акаунт? <a href="{% url 'login' %}">Увійти</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}